.statsBlock {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.statList {
  list-style: disc;
  margin-left: 20px;
  text-align: left;
}

.day {
  color: #ccc;
}

.amount {
  color: #fff;
  font-weight: bold;
}
